.form-box{
    height: 500px;
    background-color: rgba(24, 243, 21, 0.6);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 80px;
   
}

.fondo{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-patron-transparente-aguacate_42349-21.jpg");
    
}